<div id="giftwrap-container">
  <div class="giftwrapping-select" role="group" aria-labelledby="ギフトラッピング_copy-0-0">
    <div class="spb-label-tooltip">
      <label class="spb-productdescfont spb-productdesctextcolor" id="ギフトラッピング_copy-0-0">ギフトラッピング</label>
    </div>
    <span>
      <label for="giftbox" class="giftbox">
        <input type="checkbox" id="giftbox" name="gift">
        <div class="gift-check">
          {{ 'products.product.giftwrapping' | t }}  <br>
        </div>
        </label>
    </span>
  </div>
</div>